.footer {
   grid-area: footer;
   display: grid;
   grid-auto-flow: column;
   justify-content: space-around;
   align-items:center;
   border-top: 2px solid #000000;
   background-color: #222222;
   height: 50px;}
.footer__copyright {
   font-size: 18px;
   font-family: "Jura";
   font-weight: 700;
   color: #a5a5a5;}
.footer__icon-block {
   display: grid;
   grid-auto-flow: column;
   justify-content: space-around;
   align-items:center;
   margin-top: 4px;}
.footer__icon {
   font-size: 25px;
   margin: 5px;
   color: #a5a5a5;
   transition: transform .2s;}
.footer__icon:hover {
   color: #F98C00;
   transform: scale(1.5);}
@media (max-width: 650px) {
   .footer {
      grid-area: footer;
      display: grid;
      grid-auto-flow: row;
      justify-items: center;
      border-top: 2px solid #000000;
      background-color: #222222;
      height: 75px;}
   .footer__copyright {
      font-size: 16px;
      font-family: "Jura";
      font-weight: 700;
      color: #a5a5a5;
      grid-column: 1;
      grid-row: 2;
      margin-bottom: 10px;}
   .footer__icon-block {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-around;
      align-items: center;
      grid-column: 1;
      grid-row: 1;}
   .footer__icon {
      font-size: 20px;
      margin: 5px;
      color: #a5a5a5;
      transition: transform .2s;}
   .footer__icon:hover {
      color: #F98C00;
      transform: scale(1.5);}}