.pagination {
   display: grid;
   justify-content: center;
   align-content: center;
   grid-auto-flow:column;}
.pagination > i {
   position: relative;
   display: grid;
   justify-content: center;
   align-content: center;
   color: #393939;
   font-size: 30px;
   text-shadow: none;
   transition: transform .2s;}
.pagination > a {
   transition: all 200ms;
   position: relative;
   display: grid;
   justify-content: center;
   align-content: center;
   height: 40px;
   width: 40px;
   text-shadow: 2px 2px 1px #000000;
   font-size: 28px;
   line-height: 16px;
   font-family: "ISOCPEUR";
   font-weight: 600;
   color: #a5a5a5;
   padding: 5px;
   margin: 30px 5px 30px 5px;
   background-color: #222222;
   border: 2px solid #393939;
   box-shadow: 0px 0px 4px #00000088;}
.pagination > a:hover {
   text-shadow: 0px 0px 10px #ffffff7c;
   color: #ffffff;}
.pagination > a:active {
   text-shadow: 0px 0px 10px #f98d007e;
   color: #F98C00;}