@import "./blocks/_nullstyle";
@import "./blocks/_header";
@import "./blocks/_footer";
@import "./blocks/_zoom";
@import '../fonts/iconmoon/style.css';
@font-face {
   font-family: 'ISOCPEUR';
   src: url(../fonts/ISOCPEUR/ISOCPEUR.eot);
   src: url(../fonts/ISOCPEUR/ISOCPEUR.eot?#iefix) format('embedded-opentype'),
   url(../fonts/ISOCPEUR/ISOCPEUR.woff2) format('woff2'),
   url(../fonts/ISOCPEUR/ISOCPEUR.woff) format('woff'),
   url(../fonts/ISOCPEUR/ISOCPEUR.ttf) format('truetype'),
   url(../fonts/ISOCPEUR/ISOCPEUR.svg#ISOCPEUR) format('svg'),
   url(../fonts/ISOCPEUR/ISOCPEUR.otf) format('otf');}
@font-face {
   font-family: 'Jura';
   src: url(../fonts/Jura/Jura-VariableFont_wght.eot);
   src: url(../fonts/Jura/Jura-VariableFont_wght.eot?#iefix) format('embedded-opentype'),
   url(../fonts/Jura/Jura-VariableFont_wght.woff2) format('woff2'),
   url(../fonts/Jura/Jura-VariableFont_wght.woff) format('woff'),
   url(../fonts/Jura/Jura-VariableFont_wght.ttf) format('truetype'),
   url(../fonts/Jura/Jura-VariableFont_wght.svg#Jura-VariableFont_wght) format('svg'),
   url(../fonts/Jura/Jura-VariableFont_wght.otf) format('otf');}
html::-webkit-scrollbar {
   height: 10px;
   width: 14px;}
html::-webkit-scrollbar-track {
   background: #222222;
   border: 2px solid #000000;}
html::-webkit-scrollbar-thumb {
   background-color: #393939;
   border: 2px solid #000000;}
.body {
   background-color: #141414;}
.body.lock {
   overflow: hidden;}
.wrapper{
   min-height: 100%;
   display: grid;
   grid-template-rows: auto 1fr auto;
   grid-template-areas:
      "header"
      "main"
      "footer";}


.main {
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 105px;
   grid-area: main;
   display: flex;
   justify-items: center;
   flex-wrap: nowrap;
   flex-direction: row;
   justify-content: center;}
.main__block {
   display: block;
   min-height: 100%;
   flex-grow: 1;
   flex: 0 0 907px;
   order: 2;}
.container__content {
   background-color: #222222;
   border: 2px solid #393939;}
.sidebar__left {
   background-color: #22222200;
   border: 2px solid #39393900;
   display: block;
   height: 100px;
   flex-grow: 1;
   flex: 0 0 300px;
   order: 1;
   position: sticky;
   top: 105px;
   margin-right: 10px;}
.sidebar__right {
   background-color: #22222200;
   border: 2px solid #39393900;
   display: block;
   height: 100px;
   flex-grow: 1;
   flex: 0 0 300px;
   order: 3;
   position: sticky;
   top: 105px;
   margin-left: 10px;}


.content__source {
   text-shadow: 2px 2px 1px #000000;
   font-size: 14px;
   line-height: 16px;
   font-family: "ISOCPEUR";
   font-weight: 600;
   color: #a5a5a5;
   letter-spacing: 1px;
   margin: 10px 5px 10px 5px;
   display: flex;
   justify-content:center;}
.content__source a {
   transition: all 200ms;
   position: relative;
   text-overflow: ellipsis;
   color: #a5a5a5;}
.content__source a:hover {
   color: #F98C00;}
.content__source a:active {
   color: #ffffff;}


.content__buttons {
   display: grid;
   grid-auto-flow: column;
   grid-auto-columns: 50%;
   margin: 5px 5px 0px 0px;}
.content__buttons button {
   text-shadow: 2px 2px 1px #000000;
   position: relative;
   margin-left: 5px;
   padding: 5px 5px 6px 5px;
   font-family: "Jura";
   font-size: 14px;
   font-weight: 700;
   color: #ffffff;
   transition: all 200ms;
   background-color: #141414;
   border: 2px solid #000000;}
.content__buttons button:hover {
   color: #F98C00;
   box-shadow: 0 0 4px #f98d00;}
.content__buttons button:active {
   text-shadow: 0px 0px 10px #ffffff7c;
   color: #ffffff;}


.content__description p {
   font-family: "ISOCPEUR";
   text-shadow: 2px 2px 1px #000000;
   font-size: 18px;
   line-height: 20px;
   letter-spacing: 0.3px;
   font-weight: 600;
   color: #a5a5a5;}
.content__description {
   margin: 5px;}
.content-name-history {
   display: grid;
   justify-content:center;
   margin: 10px;}
.content-description-history {
   height: 100px;
   text-indent: 40px;
   text-align:justify;
   overflow: hidden;
   position: relative;}
.content-description-history:after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50px;
   background: linear-gradient(180deg, transparent, #222222 90%);}



.content__img img {
   width: 100%;
   border: 2px solid #000000;
   box-shadow: 0px 0px 4px #00000088;}
.content__img a {
   margin-right: 5px;}
.content__img {
   display: flex;
   margin-left: 5px;
   padding-top: 5px;
   padding-bottom: 5px;}
.content__img.history {
   margin-left: 5px;
   margin-right: 5px;}
.content__img.map {
   margin-left: 5px;
   margin-right: 5px;
   position: relative;
   overflow: hidden;}
.content__img-person {
   display: grid;
   grid-auto-flow:column;
   grid-template-columns: auto 53%;}
.content__img.portret {
   display: grid;}
.portret-img {
   margin-bottom: 5px;}
.content-fraction {
   display: grid;
   grid-auto-flow:column;
   grid-template-columns: auto 50%;}
.fraction-img {
   display: grid;
   grid-auto-flow:column;
   grid-template-columns: auto 50%;
   padding-bottom: 0px;}
.fraction-crafts {
   margin-right: 5px;}
.content__fraction-paints {
   display: grid;
   grid-auto-flow:column;
   border: 2px solid #000000;
   box-shadow: 0px 0px 4px #00000088;
   background-color: #141414;
   padding: 5px;
   margin-right: 5px;
   margin-bottom: 5px;
   justify-content: space-around;}
.content__fraction-stickers {
   display: grid;
   grid-auto-flow:column;
   border: 2px solid #000000;
   box-shadow: 0px 0px 4px #00000088;
   background-color: #141414;
   padding: 5px;
   margin-right: 5px;
   margin-bottom: 5px;
   justify-content: space-around;}
.content__fraction-paints img {
   max-height: 175px;
   padding: 5px;
   border: none;
   box-shadow: none;}
.content__fraction-stickers img {
   max-height: 175px;
   padding: 5px;
   border: none;
   box-shadow: none;}
.content__img.brand {
   display: grid;
   grid-auto-flow:column;
   grid-template-columns: auto 75.9%;}
.content__img.brand div {
   background-image: linear-gradient(-180deg, #141414, #222222);}
.content__img.brand a {
   background-image: linear-gradient(45deg, #a5a5a525 25%, #a5a5a500 25%, #a5a5a500 50%, #a5a5a525 50%, #a5a5a525 75%, #a5a5a500 75%,);
   animation: gradient 40s ease infinite;
   background-size: 200% 200%;}
.content__img.brand img {
   background-image: linear-gradient(45deg, #a5a5a525 25%, #a5a5a500 25%, #a5a5a500 50%, #a5a5a525 50%, #a5a5a525 75%, #a5a5a500 75%,);
   animation: gradient 80s ease infinite;
   background-size: 400% 400%;}
@keyframes gradient {
   0% {background-position: 0 50%;}
   50% {background-position: 100% 50%;}
   100% {background-position: 0 50%;}}
.content__img.brand-crafts {
   display: grid;
   grid-auto-flow:column;
   grid-template-columns: auto 78.5%;
   padding-top: 0px;}
.content__img.brand-crafts div {
   background-color: #141414;
   margin-right: 5px;
   padding: 0px 5px 0px 5px;
   border: 2px solid #000000;
   box-shadow: 0px 0px 4px #00000088;}
.type-crafts img {
   background-image: radial-gradient(#0000007c 40%, #22222200, #22222200);
   border: none;
   box-shadow: none;
   transition: transform .4s;}
.type-crafts img:hover {
   transform: scale(2);}

.img-name {
   display: grid;
   justify-content: center;
   align-content: center;
   color: #a5a5a5;
   height: 40px;
   margin: 5px 0px 0px 5px;
   background-color: #141414;
   border: 2px solid #000000;
   box-shadow: 0px 0px 4px #00000088;}
.img-item a {
   margin: 0;
   padding: 0;}
.img-item:hover {
   opacity: 0.8;}
.img-showcase {
   display: flex;
   width: 100%;}
.img-showcase img {
   border: none;
   box-shadow: none;}
.img-display {
   width: 705px;
   border: 2px solid #000000;
   box-shadow: 0px 0px 4px #00000088;
   overflow: hidden;}
.zoom {
   background-color: #141414;
   border: 2px solid #000000;
   box-shadow: 0px 0px 4px #00000088;
   padding: 10px;}
.zoom-img {
   border: 2px solid #000000;
   box-shadow: 0px 0px 4px #00000088;
   padding: 10px;
   animation: move-it 25s linear infinite;
   background: repeating-linear-gradient(45deg,#09182b,#09182b 2.5%,#132039 2.5%,#132039 5%)}
@keyframes move-it {
   0% {background-position: initial;}
   100% {background-position: 500px 0px;}}
.paints-img {
   justify-content: center;
   align-content: space-evenly; 
   background-color: #141414;
   margin-right: 5px;
   display: grid;
   border: 2px solid #000000;
   box-shadow: 0px 0px 4px #00000088;}
.paints-img img {
   max-width: 116px;}
.content-paints {
   display: grid;
   grid-auto-flow:column;
   grid-template-columns: 84% auto;}
.content__img.display {
   padding: 0;}
.stickers-img {
   justify-content: space-evenly;
   align-content: center;
   background-color: #141414;
   margin: 5px;
   padding: 0;
   display: grid;
   grid-auto-flow:column;
   border: 2px solid #000000;
   box-shadow: 0px 0px 4px #00000088;}
.stickers-img img {
   max-width: 83px;
   margin-top: 5px;
   margin-bottom: 5px;}


.content__info {
   margin: 0px 5px 5px 5px;
   display: flex;
   justify-content:space-between;}
.content__info p {
   text-shadow: 2px 2px 1px #000000;
   font-size: 14px;
   line-height: 16px;
   font-family: "ISOCPEUR";
   font-weight: 600;
   color: #a5a5a5;}
.content__info div {
   display: grid;
   grid-auto-flow: column;
   justify-content: space-around;
   align-items:center;}


.info__icon {
   text-shadow: 2px 2px 1px #000000;
   padding-top: 1px;
   font-weight: 900;
   font-size: 12px;
   color: #a5a5a581;
   margin-left: 3px;
   margin-right: 3px;}
.info__id {
   letter-spacing: 0.3px;
   margin-right: 8px;}
.info__date {
   letter-spacing: 0.6px;}
.info__icon.one-c459 {color: #a5a5a5; transition: transform .2s;}
.info__icon.three-c459 {color: #a5a5a5; transition: transform .2s;}
.info__icon.one-c459:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.three-c459:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.one-h35 {color: #a5a5a5; transition: transform .2s;}
.info__icon.four-h35 {color: #a5a5a5; transition: transform .2s;}
.info__icon.one-h35:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.four-h35:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.one-a66 {color: #a5a5a5; transition: transform .2s;}
.info__icon.three-a66 {color: #a5a5a5; transition: transform .2s;}
.info__icon.one-a66:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.three-a66:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.one-m1 {color: #a5a5a5; transition: transform .2s;}
.info__icon.three-m1 {color: #a5a5a5; transition: transform .2s;}
.info__icon.one-m1:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.three-m1:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.one-p1 {color: #a5a5a5; transition: transform .2s;}
.info__icon.three-p1 {color: #a5a5a5; transition: transform .2s;}
.info__icon.one-p1:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.three-p1:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.one-f1 {color: #a5a5a5; transition: transform .2s;}
.info__icon.two-f1 {color: #a5a5a5; transition: transform .2s;}
.info__icon.one-f1:hover {color: #F98C00; transform: scale(1.5);}
.info__icon.two-f1:hover {color: #F98C00; transform: scale(1.5);}

.icon-marker {
   position: absolute;
   top: 16%;
   left: 49.7%;
   font-size: 24px;
   text-shadow: 2px 2px 1px #000000;
   color: #ffffff;
   transition: transform .4s;}
.icon-marker.one-m1 {
   top: 16%;
   left: 49.7%;}
.icon-marker.two-m1 {
   top: 26%;
   left: 44.7%;}
.icon-marker.three-m1 {
   top: 43%;
   left: 64.2%;}
.icon-marker.four-m1 {
   top: 55.2%;
   left: 39.2%;}
.icon-marker.five-m1 {
   top: 68.5%;
   left: 24%;}
.icon-marker.six-m1 {
   top: 32.5%;
   left: 70%;}
.icon-marker.seven-m1 {
   top: 42.2%;
   left: 41%;}
.icon-marker.eight-m1 {
   top: 44%;
   left: 41.5%;}
.icon-marker:hover {
   color: #F98C00;
   transform: scale(1.5);}
.marker__location {
   position: absolute;
   max-width: 350px;
   transition: transform .5s;
   top: 2%;
   right: -39%;}
.map__marker:hover img {
   transform: translateX(-103%);}

/* Режим Планшет 2 бара */
@media (max-width: 1550px) {
   .main {
      padding-top: 85px;}
   .main__block {
      flex: 0 0 561px;}
   .sidebar__left {
      top: 85px;
      flex: 0 0 200px;
      margin-right: 10px;}
   .sidebar__right {
      top: 85px;
      flex: 0 0 200px;
      margin-left: 10px;}
   .info__icon {
      margin-left: 2px;
      margin-right: 2px;}
   .icon-marker {
      font-size: 16px;}
   .marker__location {
      max-width: 230px;
      right: -42.2%;}
      .content__fraction-paints img {
         max-height: 100px;}
      .content__fraction-stickers img {
         max-height: 100px;}}
/* Режим Планшет 1 бар */
@media (max-width: 1004px) {
   .content__description p {
      font-size: 16px;
      line-height: 18px;}
   .main {
      padding-top: 85px;}
   .sidebar__left {
      flex: 0 0 200px;
      margin-right: 10px;
      top: 85px;}
   .sidebar__right {
      display: none;}}
@media (max-width: 650px) {
   .icon-marker {
      font-size: 14px;
      text-shadow: 1px 1px 1px #000000;}}
/* Режим смартфон */
@media (max-width: 812px) {
   .sidebar__left,.sidebar__right {
      display: none;}
   .main {
      padding-top: 85px;}
   .main__block {
      flex: 1 1 auto;}
   .content__description p {
      font-size: 14px;
      line-height: 16px;}
   .info__icon {
      padding-top: 2px;
      font-size: 8px;}
   .content__info p {
      font-size: 10px;
      line-height: 12px;}
   .content__source {
      font-size: 10px;
      line-height: 12px;}
   .map__marker {
      font-size: 8px;}
   .marker__location {
      right: -30.1%;
      top: 2%;
      max-width: 30%}
   .content__fraction-paints img {
      padding: 5px;}
   .content__fraction-stickers img {
      padding: 5px;}}
/* Режим микро-смартфон */
@media (max-width: 410px) {
   .content__source a {
      max-width: 280px;
      min-width: 100%;
      white-space: nowrap;
      overflow: hidden;}
   .content__buttons button{
      font-size: 11px;}
   .icon-marker {
      font-size: 10px;}
   .content__fraction-stickers img {
      padding: 0px;}}

.section {
   height: 15px;}