@charset "UTF-8";
@import '../fonts/iconmoon/style.css';
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  color: red;
}

.header {
  transition: all 0.2s;
  grid-area: header;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 6;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  padding: 10px;
  background-color: #222222;
}

.container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.header__body {
  z-index: 2;
  display: flex;
  width: 360px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  flex: 0 0 60px;
  z-index: 3;
}

.header__logo img {
  max-width: 100%;
}

.header__name {
  line-height: 30px;
  letter-spacing: -1px;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7725490196);
  font-weight: 700;
  font-family: "Jura";
  font-size: 30px;
  color: #fff;
  margin: 0px 0px 4px 10px;
}

.header__menu {
  max-height: 72px;
  border: 2px solid #000000;
  background-color: #141414;
  z-index: 2;
}

.header__list {
  width: 1100px;
  display: flex;
  grid-template: 1fr 1fr/1fr;
  flex-wrap: wrap;
  justify-content: flex-end;
  z-index: 2;
}

.header__list li {
  z-index: 2;
  margin: 10px 20px 10px 10px;
}

.header__link:hover {
  text-shadow: 0px 0px 10px rgba(249, 141, 0, 0.4941176471);
  color: #F98C00;
}

.header__link:active {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4862745098);
  color: #ffffff;
}

.header__link:hover::before {
  transform: scale(1);
  transform: scaleX(1);
  transition: transform 0.25s;
}

.header__link::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F98C00;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.25s;
}

.header__link {
  transition: all 200ms;
  text-shadow: 2px 2px 1px #000000;
  position: relative;
  font-family: "Jura";
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  line-height: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.header__burger {
  width: 44px;
  height: 40px;
  border: 2px solid #000000;
  background-color: #141414;
  position: relative;
  display: none;
  z-index: 3;
}

.header__burger span {
  position: absolute;
  width: 24px;
  height: 4px;
  background-color: #fff;
  left: 8.2px;
  z-index: 3;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.block__background {
  display: none;
}

.header__burger span:nth-child(1) {
  transform: translateY(-9px);
}

.header__burger span:nth-child(2) {
  transform: translateY(-1px);
}

.header__burger span:nth-child(3) {
  transform: translateY(7px);
}

.header.open .header__burger span {
  background-color: #F98C00;
}

.header.open .header__burger span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

/* Режим Планшет */
@media (max-width: 1550px) {
  .header__body {
    width: 250px;
  }
  .header__logo {
    flex: 0 0 50px;
  }
  .header__name {
    font-size: 20px;
  }
  .header__menu {
    max-height: 52px;
    min-width: 380px;
    overflow: hidden;
  }
  .header__list {
    width: 100%;
    position: relative;
    max-width: 780px;
  }
  .header__list li {
    margin: 0px;
    padding: 5px;
  }
  .header__link {
    font-size: 14px;
  }
}
/* Режим смартфон */
@media (max-width: 812px) {
  .header__link.one {
    padding-right: 205px;
  }
  .header__link.two {
    padding-right: 174px;
  }
  .header__link.three {
    padding-right: 167px;
  }
  .header__link.four {
    padding-right: 167px;
  }
  .header__link.five {
    padding-right: 156px;
  }
  .header__link.six {
    padding-right: 154px;
  }
  .header__link.seven {
    padding-right: 151px;
  }
  .header__link.eight {
    padding-right: 140px;
  }
  .header__link.nine {
    padding-right: 100px;
  }
  .header__link.ten {
    padding-right: 89px;
  }
  .header__link:hover::before {
    transform-origin: left;
  }
  .header__link::before {
    transform-origin: right;
  }
  .header__logo {
    flex: 0 0 40px;
  }
  .header__name {
    margin: 0px 0px 4px 5px;
  }
  .container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin: 0px 8px 0px 8px;
  }
  .header__list {
    display: inline;
  }
  .header__list li {
    margin: 0px 0px 10px 0px;
    display: block;
    padding: 10px;
    border: 2px solid #000000;
    background-color: #141414;
  }
  .header__menu {
    max-height: 494px;
    min-width: 0px;
    margin-top: 71px;
    position: absolute;
    right: -300px;
    top: 0;
    width: 300px;
    transition: transform 0.5s;
    padding: 10px 10px 0px 10px;
    background-color: #393939;
  }
  .header__burger {
    display: block;
    min-width: 44px;
    min-height: 40px;
  }
  .header.open .header__menu {
    transform: translateX(-100%);
  }
}
/* Режим смартфон 10 строк*/
@media (max-height: 660px) {
  .header__list {
    overflow: hidden;
  }
}
.header__menu {
  overflow: auto;
}

/*Режим смартфон 8 строк */
@media (max-height: 650px) {
  .header__menu {
    height: 398px;
  }
}
/* Режим смартфон 6 строк*/
@media (max-height: 560px) {
  .header__menu {
    height: 302px;
  }
}
/* Режим смартфон 4 строки*/
@media (max-height: 460px) {
  .header__menu {
    height: 205px;
  }
}
.footer {
  grid-area: footer;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  border-top: 2px solid #000000;
  background-color: #222222;
  height: 50px;
}

.footer__copyright {
  font-size: 18px;
  font-family: "Jura";
  font-weight: 700;
  color: #a5a5a5;
}

.footer__icon-block {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 4px;
}

.footer__icon {
  font-size: 25px;
  margin: 5px;
  color: #a5a5a5;
  transition: transform 0.2s;
}

.footer__icon:hover {
  color: #F98C00;
  transform: scale(1.5);
}

@media (max-width: 650px) {
  .footer {
    grid-area: footer;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    border-top: 2px solid #000000;
    background-color: #222222;
    height: 75px;
  }
  .footer__copyright {
    font-size: 16px;
    font-family: "Jura";
    font-weight: 700;
    color: #a5a5a5;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 10px;
  }
  .footer__icon-block {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-items: center;
    grid-column: 1;
    grid-row: 1;
  }
  .footer__icon {
    font-size: 20px;
    margin: 5px;
    color: #a5a5a5;
    transition: transform 0.2s;
  }
  .footer__icon:hover {
    color: #F98C00;
    transform: scale(1.5);
  }
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: all 0.3s ease 0s;
  text-align: center;
  z-index: 8;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  transform: translate(0px, 0px);
}

.popup__content {
  position: absolute;
  transition: all 0.3s ease 0s;
  opacity: 0;
  left: 10%;
  top: 10%;
  max-width: 80%;
  animation-fill-mode: none;
  transform: translate(0px, 100%);
}

.popup-img {
  max-width: 100%;
  vertical-align: top;
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
}

.close-popup {
  position: absolute;
  transform: rotateY(180deg);
  right: 0;
  z-index: 8;
}

.swipers {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swipe-left {
  left: 0px;
}

.swipe-right {
  transform: rotateY(180deg);
  right: 0px;
}

.icon-cross {
  color: rgba(165, 165, 165, 0.4666666667);
  position: absolute;
  font-size: 40px;
  text-shadow: 0px 0px 4px #000;
  transition: transform 0.2s;
}

.icon-angle-left {
  color: #000;
  position: absolute;
  font-size: 80px;
  text-shadow: 0px 0px 4px #ffffff;
  transition: transform 0.2s;
}

.icon-angle-right {
  color: #000;
  position: absolute;
  font-size: 80px;
  text-shadow: 0px 0px 4px #ffffff;
  transition: transform 0.2s;
}

.icon-angle-left:hover {
  transform: scale(1.3);
}

.icon-angle-right:hover {
  transform: scale(1.3);
}

.icon-cross:hover {
  transform: scale(1.3);
}

.icon-angle-left:active {
  transform: scale(0.7);
}

.icon-angle-right:active {
  transform: scale(0.7);
}

.icon-cross:active {
  transform: scale(0.7);
}

@media (max-width: 1550px) {
  .icon-angle-left {
    font-size: 70px;
  }
  .icon-angle-right {
    font-size: 70px;
  }
}
@media (max-width: 1160px) {
  .icon-cross {
    display: none;
  }
  .icon-angle-left {
    font-size: 60px;
  }
  .icon-angle-right {
    font-size: 60px;
  }
}
@media (max-width: 812px) {
  .icon-angle-left {
    font-size: 50px;
  }
  .icon-angle-right {
    font-size: 50px;
  }
}
@media (max-width: 410px) {
  .icon-angle-left {
    font-size: 40px;
  }
  .icon-angle-right {
    font-size: 40px;
  }
}
@font-face {
  font-family: "ISOCPEUR";
  src: url(../fonts/ISOCPEUR/ISOCPEUR.eot);
  src: url(../fonts/ISOCPEUR/ISOCPEUR.eot?#iefix) format("embedded-opentype"), url(../fonts/ISOCPEUR/ISOCPEUR.woff2) format("woff2"), url(../fonts/ISOCPEUR/ISOCPEUR.woff) format("woff"), url(../fonts/ISOCPEUR/ISOCPEUR.ttf) format("truetype"), url(../fonts/ISOCPEUR/ISOCPEUR.svg#ISOCPEUR) format("svg"), url(../fonts/ISOCPEUR/ISOCPEUR.otf) format("otf");
}
@font-face {
  font-family: "Jura";
  src: url(../fonts/Jura/Jura-VariableFont_wght.eot);
  src: url(../fonts/Jura/Jura-VariableFont_wght.eot?#iefix) format("embedded-opentype"), url(../fonts/Jura/Jura-VariableFont_wght.woff2) format("woff2"), url(../fonts/Jura/Jura-VariableFont_wght.woff) format("woff"), url(../fonts/Jura/Jura-VariableFont_wght.ttf) format("truetype"), url(../fonts/Jura/Jura-VariableFont_wght.svg#Jura-VariableFont_wght) format("svg"), url(../fonts/Jura/Jura-VariableFont_wght.otf) format("otf");
}
html::-webkit-scrollbar {
  height: 10px;
  width: 14px;
}

html::-webkit-scrollbar-track {
  background: #222222;
  border: 2px solid #000000;
}

html::-webkit-scrollbar-thumb {
  background-color: #393939;
  border: 2px solid #000000;
}

.body {
  background-color: #141414;
}

.body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

.main {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 105px;
  grid-area: main;
  display: flex;
  justify-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.main__block {
  display: block;
  min-height: 100%;
  flex-grow: 1;
  flex: 0 0 907px;
  order: 2;
}

.container__content {
  background-color: #222222;
  border: 2px solid #393939;
}

.sidebar__left {
  background-color: rgba(34, 34, 34, 0);
  border: 2px solid rgba(57, 57, 57, 0);
  display: block;
  height: 100px;
  flex-grow: 1;
  flex: 0 0 300px;
  order: 1;
  position: sticky;
  top: 105px;
  margin-right: 10px;
}

.sidebar__right {
  background-color: rgba(34, 34, 34, 0);
  border: 2px solid rgba(57, 57, 57, 0);
  display: block;
  height: 100px;
  flex-grow: 1;
  flex: 0 0 300px;
  order: 3;
  position: sticky;
  top: 105px;
  margin-left: 10px;
}

.pagination {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
}

.pagination > i {
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  color: #393939;
  font-size: 30px;
  text-shadow: none;
  transition: transform 0.2s;
}

.pagination > a {
  transition: all 200ms;
  position: relative;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 40px;
  width: 40px;
  text-shadow: 2px 2px 1px #000000;
  font-size: 28px;
  line-height: 16px;
  font-family: "ISOCPEUR";
  font-weight: 600;
  color: #a5a5a5;
  padding: 5px;
  margin: 30px 5px 30px 5px;
  background-color: #222222;
  border: 2px solid #393939;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
}

.pagination > a:hover {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4862745098);
  color: #ffffff;
}

.pagination > a:active {
  text-shadow: 0px 0px 10px rgba(249, 141, 0, 0.4941176471);
  color: #F98C00;
}

.content__source {
  text-shadow: 2px 2px 1px #000000;
  font-size: 14px;
  line-height: 16px;
  font-family: "ISOCPEUR";
  font-weight: 600;
  color: #a5a5a5;
  letter-spacing: 1px;
  margin: 10px 5px 10px 5px;
  display: flex;
  justify-content: center;
}

.content__source a {
  transition: all 200ms;
  position: relative;
  text-overflow: ellipsis;
  color: #a5a5a5;
}

.content__source a:hover {
  color: #F98C00;
}

.content__source a:active {
  color: #ffffff;
}

.content__buttons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  margin: 5px 5px 0px 0px;
}

.content__buttons button {
  text-shadow: 2px 2px 1px #000000;
  position: relative;
  margin-left: 5px;
  padding: 5px 5px 6px 5px;
  font-family: "Jura";
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  transition: all 200ms;
  background-color: #141414;
  border: 2px solid #000000;
}

.content__buttons button:hover {
  color: #F98C00;
  box-shadow: 0 0 4px #f98d00;
}

.content__buttons button:active {
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4862745098);
  color: #ffffff;
}

.content__description p {
  font-family: "ISOCPEUR";
  text-shadow: 2px 2px 1px #000000;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
  color: #a5a5a5;
}

.content__description {
  margin: 5px;
}

.content-name-history {
  display: grid;
  justify-content: center;
  margin: 10px;
}

.content-description-history {
  height: 100px;
  text-indent: 40px;
  text-align: justify;
  overflow: hidden;
  position: relative;
}

.content-description-history:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, transparent, #222222 90%);
}

.content__img img {
  width: 100%;
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
}

.content__img a {
  margin-right: 5px;
}

.content__img {
  display: flex;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.content__img.history {
  margin-left: 5px;
  margin-right: 5px;
}

.content__img.map {
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  overflow: hidden;
}

.content__img-person {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 53%;
}

.content__img.portret {
  display: grid;
}

.portret-img {
  margin-bottom: 5px;
}

.content-fraction {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 50%;
}

.fraction-img {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 50%;
  padding-bottom: 0px;
}

.fraction-crafts {
  margin-right: 5px;
}

.content__fraction-paints {
  display: grid;
  grid-auto-flow: column;
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
  background-color: #141414;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  justify-content: space-around;
}

.content__fraction-stickers {
  display: grid;
  grid-auto-flow: column;
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
  background-color: #141414;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  justify-content: space-around;
}

.content__fraction-paints img {
  max-height: 175px;
  padding: 5px;
  border: none;
  box-shadow: none;
}

.content__fraction-stickers img {
  max-height: 175px;
  padding: 5px;
  border: none;
  box-shadow: none;
}

.content__img.brand {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 76.65%;
}

.content__img.brand > a {
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
  background-image: url(/source/img/DelawareBrand/backgroundbrand.png);
  background-size: cover;
}

.content__img.brand > a > img {
  border: none;
  box-shadow: none;
}

.content__img.brand-crafts {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 76.65%;
  padding-top: 0px;
}

.test {
  background-image: url(/source/img/DelawareBrand/backgroundbrand2.png);
  background-size: cover;
}

.img-name {
  letter-spacing: 1px;
  display: grid;
  justify-content: center;
  align-content: center;
  text-shadow: 2px 2px 1px #000000;
  font-family: "ISOCPEUR";
  font-size: 18px;
  font-weight: 700;
  color: #a5a5a5;
  height: 40px;
  margin: 5px 0px 0px 5px;
  background-color: #141414;
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
}

.img-item {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.img-item a {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0;
}

.img-item:active {
  transition: transform 0.1s;
  transform: scale(0.95);
}

.img-item:hover {
  box-shadow: 0px 0px 6px #ffffff;
}

.img-showcase {
  display: flex;
  width: 100%;
}

.img-showcase img {
  border: none;
  box-shadow: none;
}

.img-display {
  width: 705px;
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
  overflow: hidden;
}

.zoom {
  background-color: #141414;
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
  padding: 10px;
}

.zoom-img {
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
  padding: 10px;
  animation: move-it 25s linear infinite;
  background: repeating-linear-gradient(45deg, #09182b, #09182b 2.5%, #132039 2.5%, #132039 5%);
}

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 500px 0px;
  }
}
.paints-img {
  justify-content: center;
  align-content: space-evenly;
  background-color: #141414;
  margin-right: 5px;
  display: grid;
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
}

.paints-img img {
  max-width: 116px;
}

.content-paints {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 84% auto;
}

.content__img.display {
  padding: 0;
}

.content__img.paints-img.img-select {
  padding: 0;
}

.stickers-img {
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: space-evenly;
  align-content: center;
  background-color: #141414;
  margin: 5px;
  display: grid;
  grid-auto-flow: column;
  border: 2px solid #000000;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5333333333);
}

.stickers-img img {
  max-width: 83px;
}

.content__info {
  margin: 0px 5px 5px 5px;
  display: flex;
  justify-content: space-between;
}

.content__info p {
  text-shadow: 2px 2px 1px #000000;
  font-size: 14px;
  line-height: 16px;
  font-family: "ISOCPEUR";
  font-weight: 600;
  color: #a5a5a5;
}

.content__info div {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  align-items: center;
}

.info__icon {
  text-shadow: 2px 2px 1px #000000;
  padding-top: 1px;
  font-weight: 900;
  font-size: 12px;
  color: rgba(165, 165, 165, 0.5058823529);
  margin-left: 3px;
  margin-right: 3px;
}

.info__id {
  letter-spacing: 0.3px;
  margin-right: 8px;
}

.info__date {
  letter-spacing: 0.6px;
}

.info__icon.one-c459 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.three-c459 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.one-c459:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.three-c459:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.one-h35 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.four-h35 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.one-h35:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.four-h35:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.one-a66 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.three-a66 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.one-a66:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.three-a66:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.one-m1 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.three-m1 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.one-m1:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.three-m1:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.one-p1 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.three-p1 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.one-p1:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.three-p1:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.one-f1 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.two-f1 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.one-f1:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.two-f1:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.one-b1 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.five-b1 {
  color: #a5a5a5;
  transition: transform 0.2s;
}

.info__icon.one-b1:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.info__icon.five-b1:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.icon-marker {
  position: absolute;
  top: 16%;
  left: 49.7%;
  font-size: 24px;
  text-shadow: 2px 2px 1px #000000;
  color: #ffffff;
  transition: transform 0.4s;
}

.icon-marker.one-m1 {
  top: 16%;
  left: 49.7%;
}

.icon-marker.two-m1 {
  top: 26%;
  left: 44.7%;
}

.icon-marker.three-m1 {
  top: 43%;
  left: 64.2%;
}

.icon-marker.four-m1 {
  top: 55.2%;
  left: 39.2%;
}

.icon-marker.five-m1 {
  top: 68.5%;
  left: 24%;
}

.icon-marker.six-m1 {
  top: 32.5%;
  left: 70%;
}

.icon-marker.seven-m1 {
  top: 42.2%;
  left: 41%;
}

.icon-marker.eight-m1 {
  top: 44%;
  left: 41.5%;
}

.icon-marker:hover {
  color: #F98C00;
  transform: scale(1.5);
}

.marker__location {
  position: absolute;
  max-width: 350px;
  transition: transform 0.5s;
  top: 2%;
  right: -39%;
}

.map__marker:hover img {
  transform: translateX(-103%);
}

/* Режим Планшет 2 бара */
@media (max-width: 1550px) {
  .pagination > a {
    margin: 25px 5px 25px 5px;
    height: 35px;
    width: 35px;
    font-size: 22px;
  }
  .stickers-img img {
    max-width: 50px;
  }
  .paints-img img {
    max-width: 68px;
  }
  .img-display {
    width: 414px;
  }
  .main {
    padding-top: 85px;
  }
  .main__block {
    flex: 0 0 561px;
  }
  .sidebar__left {
    top: 85px;
    flex: 0 0 200px;
    margin-right: 10px;
  }
  .sidebar__right {
    top: 85px;
    flex: 0 0 200px;
    margin-left: 10px;
  }
  .info__icon {
    margin-left: 2px;
    margin-right: 2px;
  }
  .icon-marker {
    font-size: 16px;
  }
  .marker__location {
    max-width: 230px;
    right: -42.2%;
  }
  .content__fraction-paints img {
    max-height: 100px;
  }
  .content__fraction-stickers img {
    max-height: 100px;
  }
}
/* Режим Планшет 1 бар */
@media (max-width: 1004px) {
  .img-name {
    font-size: 16px;
  }
  .content__description p {
    font-size: 16px;
    line-height: 18px;
  }
  .main {
    padding-top: 85px;
  }
  .sidebar__left {
    flex: 0 0 200px;
    margin-right: 10px;
    top: 85px;
  }
  .sidebar__right {
    display: none;
  }
}
@media (max-width: 650px) {
  .icon-marker {
    font-size: 14px;
    text-shadow: 1px 1px 1px #000000;
  }
}
/* Режим смартфон */
@media (max-width: 812px) {
  .stickers-img img {
    max-width: none;
    width: 90%;
  }
  .paints-img img {
    max-width: none;
    width: 90%;
  }
  .img-display {
    width: auto;
  }
  .sidebar__left, .sidebar__right {
    display: none;
  }
  .main {
    padding-top: 85px;
  }
  .main__block {
    flex: 1 1 auto;
  }
  .content__description p {
    font-size: 14px;
    line-height: 16px;
  }
  .img-name {
    font-size: 14px;
  }
  .info__icon {
    padding-top: 2px;
    font-size: 8px;
  }
  .content__info p {
    font-size: 10px;
    line-height: 12px;
  }
  .content__source {
    font-size: 10px;
    line-height: 12px;
  }
  .map__marker {
    font-size: 8px;
  }
  .marker__location {
    right: -30.1%;
    top: 2%;
    max-width: 30%;
  }
  .content__fraction-paints img {
    padding: 5px;
  }
  .content__fraction-stickers img {
    padding: 5px;
  }
}
/* Режим микро-смартфон */
@media (max-width: 410px) {
  .pagination > a {
    height: 30px;
    width: 30px;
    font-size: 18px;
  }
  .zoom-img {
    padding: 5px;
  }
  .zoom {
    padding: 5px;
  }
  .img-name {
    height: 25px;
  }
  .content__source a {
    max-width: 280px;
    min-width: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .content__buttons button {
    font-size: 11px;
  }
  .icon-marker {
    font-size: 10px;
  }
  .content__fraction-stickers img {
    padding: 0px;
  }
}
.section {
  height: 15px;
}

/* Пагинацию стилизовал и адаптировал, вернёмся к ней, когда начнём делить контент на страницы */
/* Перегородки если и делать, то точно не через Border */
/* Скрывающийся Header - огонь, но надо отключить на смартфонах */
/* Имя крафта при увеличении изображения - не заработал, включи в следующий раз */
/*.craft__title {
   position: absolute;
   z-index: 100000;
   color: #fff;
   font-size: 80px;
   top: 95%;
   left: 50%;
   transform: translate(-50%, -50%);}*//*# sourceMappingURL=style.css.map */